$mainColor : #34495e;
$secondColor: #eb3e32;
$bodyColor : #f3f3f3;
$priceColor: #eb3e32;
$cardPadding : 10px;
$defaultFont: 'Rubik', sans-serif;
body {
  background-color: $bodyColor;
  font-family: $defaultFont;
}



//Filters style

#filters-holder {
  padding-top: 15px;
  padding-bottom: 15px;
}

//Filters style end





//Navigation style
.header-container {
  background: $secondColor;
  color: #ffffff;
  position: relative;
  z-index: 111;
}
.top-bar {
  line-height: 1;
  position: relative;
  z-index: 100;
}

.navigation, .page-header .header.panel, .header.content, .footer.content, .page-wrapper > .widget, .page-wrapper > .page-bottom, .block.category.event, .top-container, .page-main, .container-inner {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  width: 100%;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-flex-basis: auto;
  flex-basis: auto;
}

.header-content .row {
  display: table;
  width: 100%;
  height: 120px;
  //padding: 10px 0;
  //margin: 0;
}

.header-content .row > div {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  float: none;
  padding: 0;
}

.header-container .logo {
  float: none;
  margin: 0;
  max-width: 100%;
}
.minicart-wrapper {
  margin-left: 25px;
}

.minicart-wrapper {
  margin-left: 13px;
}
.minicart-wrapper {
  display: inline-block;
  position: relative;
  float: right;
}
.wishlist-link {
  float: right;
  margin: 0 0 0 30px;
  font-size: 3.2rem;
}
.wishlist-link a {
  width: 48px;
  height: 48px;
  line-height: 46px;
  font-size: 2rem;
  color: #fff;
  border-radius: 100%;
  border: 2px solid #fff;
  display: block;
  text-align: center;
}
.wishlist-link a i{
  line-height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
#search_mini_form .search {
  width: 70%;
  max-width: 540px;
  height: 50px;
  padding-right: 70px;
  position: relative;
  float: right;
  border-radius: 40px;
  padding-left: 20px;
  background: #fff;
}
#search_mini_form .search input[type="text"] {
  width: 100%;
  height: 100%;
  border: 0;
  font-size: 13px;
  color: #a0a0a0;
  background: none;
  box-shadow: none;
}
#search_mini_form .search button[type="submit"] {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 67px;
  height: 50px;
  padding: 0;
  border-radius: 0 40px 40px 0;
  border: 0;
  color: #fff;
  font-size: 2rem;
  opacity: 1;
  background: #363f4d;
}

.nav-ozmegamenu {
  min-height: 50px;
}

.nav-ozmegamenu .nav-ozmegamenu-inner {
  background: #363f4d;
  border-radius: 25px 25px 0 0;
  padding: 0 10px;
}
.pt_custommenu {
  position: relative;
}
.pt_custommenu div.pt_menu {
  display: inline-block;
  vertical-align: middle;
}

.pt_custommenu div.pt_menu.act .parentMenu a {
  color: #eb3e32;
}

.pt_custommenu div.pt_menu .parentMenu a, .pt_custommenu div.pt_menu .parentMenu span.block-title {
  padding: 0 20px;
  line-height: 60px;
  height: 60px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.3rem;
  position: relative;
  font-weight: 500;
  color: #fff;
  font-family: 'Rubik', sans-serif;
}
.parentMenu a span{
  font-size: 14px;
}

//Slider style

.owl-heading {
  border-bottom: 2px solid $secondColor;
  margin-bottom: 15px;
  margin-right: 10px;
}
.products-slider .owl-heading h3{
  text-transform: uppercase;
  font-size: 1.4rem !important;
  background: $secondColor;
  color: #fff;
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 17px 20px 15px;
  border-radius: 3px 3px 0 0;
}

.owl-theme .owl-controls .owl-buttons div {
  background: #ccc;
  opacity: 1;
  padding: 3px 5px;
  border-radius: 5px;
}
.owl-controls {
  position: absolute;
  top: -70px;
  right: 5px;
}
.products-holder .owl-carousel .owl-wrapper-outer {
  margin-left: -5px;
}


// Product item style
.sidebar-banner {
  padding-right: 0;
  padding-left: 0;
}
.sidebar-banner img{
  width: 100%;
  height: 340px;
}
.banner-box:hover a:before {
  opacity: 0.35;
}
.banner-box:hover a:after {
  opacity: 0.35;
}
.banner-box:hover:before {
  left: 10px;
  right: 10px;
  opacity: 1;
}
.banner-box:hover:after {
  top: 10px;
  bottom: 10px;
  opacity: 1;
}

.banner-box a:before {
  background: #444;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 2;
}

.banner-box:before {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  bottom: 10px;
  content: "";
  position: absolute;
  top: 10px;
  left: 50%;
  right: 50%;
  opacity: 0;
  z-index: 11;
  pointer-events: none;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.banner-box:after {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  right: 10px;
  content: "";
  position: absolute;
  left: 10px;
  top: 50%;
  bottom: 50%;
  opacity: 0;
  z-index: 11;
  pointer-events: none;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}

.banner-home .col-sm-6{
  padding-left: 0;
}

.products-holder {
  padding-left: 0;
}
.product-item {
  padding-left: 0;
  margin-right: 5px;
  margin-left: 5px;
}
.product-item .card-image {
  height: 150px;
  max-height: 150px;
  overflow: hidden;
  display: flex;
}

.product-item .card-image .material-icons {
  font-size: 34px;
  position: absolute;
  z-index: 2;
}
.product-item .card-image .material-icons.new {
  color: $secondColor;
}
.product-item .card-image .material-icons.old {
  color: $mainColor;
}

.product-item .price {
  color: $secondColor;
  position: relative;
  /* text-align: right; */
  padding-right: 0;
  font-weight: bold;
  font-size: 16px;
}
.product-item .card-content h3 {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 300;
}
.product-item .card-content h3 a{
  color: $mainColor;
}
.product-item .row {
  margin: 0 !important;
  padding-left: 10px;
  padding-right: 10px;
}

.product-item .card-action {
  display: flex;
  justify-content: center;
  align-items: center;
  //border-top: 1px solid rgba(160,160,160,0.2);
  padding: 20px 0;
}

.product-item .card-content {
  height: 40px;
  max-height: 40px;
  padding: 10px;
  text-align: center;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.product-item .card .card-image img {
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
  background-clip: padding-box;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: auto;
  margin: 0 auto;
}

.product-item .card .view-more-holder {
  padding-left: 0;
}

.product-item .card .view-detail {
  background: $secondColor;
  padding: 5px 10px;
  color: #fff!important;
  font-size: 12px;
}


// Generic styles


.card {
  padding: $cardPadding;
}

.card {
  position: relative;
  margin: .5rem 0 1rem 0;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

select {
  padding: 10px 20px;
  border-color: #eee;
}

.form-label-field input{
  width: 100%;
}
.form-label-field label {
  margin-bottom: 10px;
  display: block;
  font-size: 14px;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: block;
}


input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
  border-bottom: 1px solid $mainColor;
  -webkit-box-shadow: 0 1px 0 0 $mainColor;
  box-shadow: 0 1px 0 0 $mainColor;
}