<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/1.3.1/css/toastr.css">
    </head>
    <body>
    <div class="container">
        <div class="col-md-12">
            {% block body %}
            {% endblock %}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/1.3.1/js/toastr.js"></script>
    <script>
            var adapter = {
                getData: function(route, successFunction, ctx, async) {
                    var adapterReturnData = [];
                    $.ajax({
                        url: route,
                        method: "GET",
                        xhrFields: { withCredentials:true },
                        async:async,
                        contentType: 'application/json',
                        dataType: 'text json'
                    }).then(function (data) {
                        adapterReturnData = data;
                        if(successFunction != null && ctx != null){
                            successFunction(ctx,data);
                        }
                        return data;
                    });
                    return adapterReturnData;
                },
                sendData: function (route, data, method, successFunction, ctx) {
                    $.ajax({
                        url: route,
                        method: method,
                        xhrFields: { withCredentials:true },
                        async: true,
                        contentType: 'application/json',
                        data: JSON.stringify(data),
                        dataType: 'text json'
                    }).then(function (data) {
                        if(successFunction != null && ctx != null){
                            successFunction(ctx,data);
                        }
                        return data;
                    });
                }
            };
    </script>
    {% block scripts %}
    {% endblock %}
    </body>
</html>