<html>
<head>
    {#<link rel="stylesheet" href="{{ asset('/build/css/materialize_css.css') }}">#}
    {#<link rel="stylesheet" href="{{ asset('/build/css/sumoselect_css.css') }}">#}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% block customStyle %}

    {% endblock %}
    <link rel="stylesheet" href="{{ asset('/build/css/main.css') }}">
</head>
<body>
{% include 'layout/menu.html.twig' %}
<div class="container">
    {% block body %}
    {% endblock %}
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% block customScript %}
{% endblock %}
</body>
</html>