<header class="header-container">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="logo-home"><span data-action="toggle-nav" class="action nav-toggle"></span>
                        <strong class="logo">
                            <img src="http://plazathemes.com/demo/boxstore/pub/media/logo/stores/1/logo.png" alt="Magento Commerce" width="203" height="50">
                        </strong>
                    </div>
                </div>
                <div class="col-md-9 col-sm-9">
                    <p class="wishlist-link"><a href="#"><i class="material-icons">star</i></a></p>
                    <form class="form minisearch" id="search_mini_form" action="#" method="get">
                        <div class="field search">
                            <input id="search" type="text" name="q" value="" placeholder="Pretraga..." class="input-text" maxlength="128" role="combobox" aria-haspopup="false" aria-autocomplete="both" autocomplete="off">
                            <button type="submit" title="Search" class="action fa fa-search" disabled="">
                                <i class="material-icons">search</i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-ozmegamenu">
        <div class="container">
            <div class="row">
                <div class="nav-ozmegamenu-inner">
                    <div class="nav-container visible-lg visible-md">
                        <div id="pt_custommenu" class="pt_custommenu">
                            <div id="pt_menu_home" class="pt_menu act">
                                <div class="parentMenu">
                                    <a href="#">
                                        <span>PoÄetna</span>
                                    </a>
                                </div>
                            </div>
                            <div class="clearBoth"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>